*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;   
    text-decoration: none;
}
header{
    width: 100%;
    margin: auto;
    display: flex;
    /* height: 80px; */
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
    background-color: rgb(214, 49, 140);
}
.Logo{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 8px;
    color: aliceblue;
}
.nav-bar{
    display: flex;
}

.nav-bar li  {
    align-items: center;
    color: aliceblue;
    font-size: 25px;
    margin-left: 90px;
    transition: .3s;
}
.nav-bar li a{
    color: aliceblue;
}
.nav-bar li a:hover{
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: rgb(255, 0, 208);
    transition: .3s;
}
.nav-bar li a:active{
    color: black;
    background-color: aliceblue;
}
.fa-solid{
    color: aliceblue;
    font-size: 27px;
    cursor: pointer;
}
.fa-bars{
    display: none !important;
    font-size: 40px;
}
body{
    color: white;
    background-color: rgb(37, 42, 69);
}
.main-avata{
    margin-top: 4rem;
    /* width: 1440px; */
    height: 358px; 
    /* background-color:#F9F8FD; */
    width: 100%;
    z-index: -3;
    position: relative;
    margin-bottom: 2rem;
}
.avata-container{
    width: 70%;  
    height: 365px;
    margin: auto;
    display: flex;
}
.avata-container .main-left{
    width: 60%; 
    margin:auto;
}
.avata-container .main-rigth{
    width: 40%;   
    margin: auto;
}
.main-left #l1{
    letter-spacing: 4px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5px;
}
.main-left #l2{
    letter-spacing: 10px;
    font-size:40px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-top: 5px;
}
.main-left #l3{
    letter-spacing:3px;
    margin-top: 5px;
    font-size: 30px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main-rigth{
    position: relative;
}
.main-rigth #background-circle{
width: 348px;
height: 348px;
background-image: linear-gradient(180deg,#D4C9FF,#F8F9FD);
border-radius: 50%;
position: absolute;
top: 0%;
z-index: -1;
}
.main-rigth #avata{
    width: 354px;
    height: 354px;
}
.achievement{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* color: white; */
}
.achievement .header-title{
    margin-top:20px;
    /* width: 100%; */
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-decoration: underline;
}
.achievement .card-group{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
}
.card{
    height: 400px;
    width: 300px;
    background-image: linear-gradient(#EBEBEB ,#ffffff);
    border-radius:30px;
    /* box-shadow: 20px 20px 40px #A5A5A5 ,-20px -20px 40px#A5A5A5; */
    margin: 20px;
}
.about-me-group{
    flex-direction:column ;
    display: flex;
    /* background-color: red; */
    width: 70%;
    margin: auto;
    height: 590px; 
    /* background-color: yellow; */
}
.about-me-group .header-title{
    text-decoration: underline;
    margin-top: 30px;
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
    font-size: 30px;
}
.aboutme-text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.about-text{
    font-size:25px;
    margin-top: 20px;
    margin-left: 30px;
}
.about-btn{
    display: flex;
    margin-top: 40px;
    margin: auto;
    width: 80%;
    justify-content: space-between; 
    /* margin-bottom: 15px;   */
    /* background-color: red; */
}
#btn-search{
    width: 347px;
    height: 74px;
    border-radius:50px;
    color:rgb(255, 255, 255) ;
    background-color: #D4C9FF;
    border: none ;
    font-size: 30px;
    cursor: pointer;
}
#btn-search:hover{
    color: rgb(241, 255, 187);
    background-color: rgb(234, 0, 183);
}
#hireme{
    
    width: 250px;
    height: 74px;
    border-radius:50px;
    color:#9079ee ;
    background-color: #ffffff;
    border: 2px silid #9079ee ;
    font-size: 30px;
    cursor: pointer;
}
#hireme:hover{
    color: rgb(0, 229, 255);
    background-color: rgb(218, 32, 32);
}
.achievement .card-group-services{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}
.card-group-services .card{
    height: 400px;
    width:300px;
    background-image: linear-gradient(#EBEBEB ,#ffffff);
    border-radius:30px;
    /* box-shadow: 20px 20px 40px #A5A5A5 ,-20px -20px 40px#A5A5A5; */
    margin: 20px;
}
#Titil{
    text-decoration: underline;
}
.blog-group{
    width: 70%;
    height: 900px;
    padding: 30px;
    margin: auto;
}
.header-title{
    margin-top  : 100px;
    text-decoration: underline;
  
}
.blog-post{
    display: flex;
    margin-bottom: 30px;
    width: 100%;
}
.blog-post .blog-card{
    width: 25%;
    height: 400px;
    background-color: rgb(187, 187, 187);
    border-radius: 30px;
    
}
.blog-post .blog-content{
    margin-left: 70px;
    width: 75%;
    
}
.blog-title{
    text-decoration: underline;
    font-weight: 600;
    font-size: 30px;
}
.blog-text{
    font-size: 25px;
    margin-top: 25px;

}
.fab{
    font-size:40px;
}
.footer{
    width: 70%;
    height: 100px;
    margin: auto;
    flex-direction: column;
    display: flex;
    
}
.social{
    margin-top: 50px;
    width: 30%;
    height: 50px;
    display: flex;
    margin: auto;
    justify-content: space-between;  
}
.fa-facebook{
    color: blue;
    cursor: pointer;;
}
.fa-youtube{
    color: red;
    cursor: pointer;
}
.fa-linkedin{
    color: rgb(7, 7, 198);
    cursor: pointer;
}
.fa-twitter-square{
    cursor: pointer;
    color: rgb(6, 136, 211);
}
#copyright{
    font-size: 30px;
    margin: auto;
    margin-top: 20px;
}
.fa-solid {
    font-size: 2rem;
    cursor: pointer;
}
.blackmode{
    background-color: black;
}
.card-group img{
    border-radius: 30px;
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 20px 0px rgb(255, 213, 0);
}
.card-group-services img{
    border-radius: 30px;
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 20px 0px rgb(255, 0, 136);
}
.blog-card img{
    border-radius: 30px;
    width: 300px;
    height: 400px;
    box-shadow: 0px 0px 20px 0px rgb(0, 195, 255);  
}
@media only screen and (max-width:1300px){
    header{
        padding: 30px 50px;
    }
}
@media only screen and (max-width:1100px){
    header{
        padding: 30px 30px;
    }
}
@media only screen and (max-width:900px){
    
    .fa-bars{
        display: block !important;
    }
    .nav-bar{
        height: 100vh;
        position: fixed;
        background-color: rgb(0, 136, 255);
        left: -100%;
        right: 0;
        top: 105px;
        width: 100vw;
        transition: .4s;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .achtive{
        left: 0 ;     
    }
    .nav-bar li {   
         margin-bottom: 4rem;
         font-size: 1.7rem;
         margin-left: 0px;
    }
    .fa-solid{
        font-size: 2.5rem;
    }
    .avata-container{
        flex-direction: column;
        width: 100%;
        height: 300px;
        /* align-items: center; */
        
    }
    .main-left #l1{
        font-size: 2rem;
    }
    .main-left #l2{
        font-size: 2rem;
    }
    .main-left #l3{
        font-size: 2rem;
    }
    .avata-container .main-left{
        width: 80%;
    }
    .avata-container .main-rigth{
        width: 90%;
        margin-top: 3rem;
    }
    .about-me-group{
        width: 90%;
    }
    .card-group {
        flex-direction: column;
        margin-top: 8rem;
        width: 100%;
    }
    .achievement{
        margin-top: 12rem;
    }
    .aboutme-text{
        flex-direction: column;
        margin-top: 3rem;
        width: 90%;
    }
    .aboutme-text .main-rigth{
        width: 100%;
    
    }
    .about-me-group .aboutme-text .main-left{
        width: 100%;
    }
    .card-group-services{
        flex-direction: column ;
        /* height: 200px; */
        /* width: 100%; */
    }
    .achievement #text{
        margin-top: 45rem;
    }
    .blog-group{
        flex-direction: column;
        /* margin-top: -3rem; */
        width: 100%;
    }
    .about-btn{
        flex-direction: column;
        /* margin-top: ; */
        width: 80%;
    }
    #btn-search{
        width: 280px;
        margin-bottom: 1.5rem;
    }
    #hireme{
        width: 280px;
    }
    #Title{
        margin-top: 1.2rem;
        /* margin: 0; */
    }
    .blog-content{
        margin-top: 28rem;
        /* text-align: center; */
        /* background-color: red; */
        
    }
    .blog-post .blog-content{
        width:100%;
        margin-left: -25%;
        /* background-color: blue; */
    }
      .blog-card{
        width: 100%;
        margin-left: 15px;
        /* margin-right:  0; */
    }
    .blog-title{
        margin-top: 2rem;
        margin-bottom: 2rem;
       text-align: center;
    }
    .footer{
        margin-top: 102rem;
        
    }
    .social{
        margin-top: 5rem;
        align-items: center;
        margin-left: 4%;
        /* margin-bottom: 1rem; */
    }
    .fab{
        margin:.7rem;
        margin-bottom: 2rem;
    }
    .card{
        height: 450px;
    }
    .card-group img{
        height: 450px;
        /* width: 330px; */
    }
    .blog-card img{
        height: 450px;
    }
}